In [3]:
capital_city = {"Nepal":"Kathmandu","Italy":"Rome","England":"London"}
print(capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [5]:
student_id = {112, 114, 116, 118} #sets
print("Student ID: ", student_id)

Student ID:  {112, 114, 116, 118}

In [19]:
my_list = [10,20,30,40]
my_list.insert(1,15)
other_list = [50,60,70]
my_list.extend(other_list)
del my_list[-1]
my_list.sort()

for num in my_list:
    if num == 30:
        print(my_list.index(num))

#print(my_list)

3